name: JSON Validation

on:
  push:
    branches:
      - master
  pull_request:
    branches: 
      - master
  schedule:
  - cron: "0 4 * * *"
    
jobs:
  validation:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
    - name: Set up Python
      uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3
      with:
        python-version: "3.11"
    - name: Install dependencies (Common)
      run: |
        pip install check-jsonschema
    - name: Validate JSON file
      run: |
        check-jsonschema --schemafile cpu/microarchitectures_schema.json cpu/microarchitectures.json
        check-jsonschema --schemafile cpu/cpuid_schema.json cpu/cpuid.json
